{% extends "base.html" %}
{% block content %}
<h1>{{title}}</h1>
<hr>
{% for note in notes %}
    <div class="note">
        <h1>Vers {{note.fromverse}}</h1>
        <div class="note-content">
            {{note.data | safe}}
        </div>
    </div>
    <hr>
{% endfor %}
<div class="spacer"></div>
<a class="nav-btn up" href=".">
    /\
</a>
<nav>
    <a class="nav-btn prev" href="{{chapter - 1}}">
        &#x3C;
    </a>
    <a class="nav-btn next" href="{{chapter + 1}}">
        &#x3E;
    </a>
</nav>
{% endblock %}
