{% extends "base.html" %}
{% block content %}
<h1>{{title}}</h1>
<hr>
{% for note in notes %}
    <div class="note">
        <h1>Vers {{note.fromverse}}</h1>
        <div class="note-content">
            {{note.data | safe}}
        </div>
    </div>
    <hr>
{% endfor %}
<div class="spacer"></div>
<div class="nav-btn up">
    <a href=".">/\</a>
</div>
<nav>
    <div class="nav-btn prev">
        <a href="{{chapter - 1}}">&#x3C;</a>
    </div>
    <div class="nav-btn next">
        <a href="{{chapter + 1}}">&#x3E;</a>
    </div>
</nav>
{% endblock %}

{% block header %}
<style>
nav {
    box-sizing: border-box;
    position: fixed;
    bottom: 1em;
    left: 0px;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}
.nav-btn {
    font-size: 80px;
    font-weight: bold;
    height: 100%;
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px black;
}
.up {
    position: fixed;
    top: 15px;
    right: 15px;
    font-size: 60px;
}
.nav-btn > a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}
.spacer {
    height: 7em;
}
</style>
{% endblock %}
